<!-- Modal -->
<div class="modal" id="declareWinnerModal" tabindex="-1" aria-labelledby="declareWinnerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="declareWinnerLabel">Three Card Poker</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <h3>{{ result }} {{winningRank}}</h3>
      </div>
      <div class="modal-footer">
        <button (click)="playAgain()" type="button" class="btn btn-lg" data-bs-dismiss="modal">Play Again</button>
        <button (click)="leaveGame()" type="button" class="btn btn-lg">Leave Game</button>
      </div>
    </div>
  </div>
</div>
